{% extends "base.html" %}
{% load static %}
{% block title %}
  <title> WELCOME TO TASKMATE! </title>
{% endblock title %}

{% block content %}
 <div class = "container">
    <div class = "row mt-5">
    <div class="col-lg-4">
      <img src="{% static 'images/stickynotes.jpg' %}"alt="NOTES"   class="rounded-2 shadow p-3" width="360" height="250" />
      
    </div>
    <div class="col-lg-4">
      <img src="{% static 'images/stickynotes1.jpg' %}"alt="NOTES" class="rounded-2 shadow p-3" width="360" height="250">
    </div>
    <div class="col-lg-4">
        <img src="{% static 'images/stickynotes2.jpg' %}"alt="NOTES" class="rounded-2 shadow p-3" width="360" height="250" >
       
    </div>
    <div class = "row mt-5">
        <div class="col-md-10 offset-md-1">
        <center><p class ="h1 text-warning">HEY WELCOME TO MY PROJECT, I AM DILPREET SINGH</p></center>
        <center><p class ="h2 mt-3 text-info">THIS IS MY FIRST PROJECT AND I AM VERY HAPPY ABOUT IT</p></center>
        <center><p class ="h5">I HOPE THAT IT WILL HELP ME IN THE FUTURE</p></center>
        <center><a href="{% url "todolist" %}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let's Get Started</button></a></center>
        </div>
        </div>
 </div>
{% endblock content %}
